// .swiper-container {
//   width: 1184px;
//   height: 134px;
// }

.advantages {
  background-color: transparent;
  margin: -213px 0 0;

  &__list {
    display: flex;

    @include list-reset;

    max-width: 1256px;
    padding: 0 35px;
    padding: 0;
    margin: 0 auto;
  }

  &__item {
    font-size: 15px;
    line-height: 1.333;
    text-align: center;

    margin: 0 auto 0 0;

    color: rgba(255, 255, 255, 0.6);

    &--like {
      width: 22%;
      padding: 5px 0 0 0;

      & p {
        margin: 22px 0 0 0;
        width: 253px;
        padding: 0 0 0 25px;
      }

      & svg {
        width: 62px;
        height: 64px;

        .cls-1 {
          opacity: 0.7;
        }
      }
    }

    &--handshake {
      width: 16%;
      padding: 21px 0 0 0;

      & p {
        margin: 21px 0 0 0;
        width: 190px;
        padding: 0 0 0 16px;
      }

      & svg {
        width: 74px;
        height: 49px;

        .cls-1 {
          opacity: 0.7;
        }
      }
    }

    &--settings {
      width: 23.5%;
      padding: 0;
      margin: 0;

      & p {
        margin: 22px 0 0 0;
        width: 271px;
        padding: 0 0 0 20px;
      }

      & svg {
        width: 70px;
        height: 69px;

        .cls-1 {
          opacity: 0.7;
        }
      }
    }

    &__bullets {
      display: none;
    }
  }
}

@media (max-width: 1023px) {
  .advantages {
    margin: 0;

    &__list {
      position: relative;
      align-items: center;

      width: 100%;
      max-width: 774px;
      margin: 47px auto 8px;
      padding: 0 25px;
    }

    &__item {
      font-size: 12px;
      line-height: 16px;

      height: 163px;
      margin: 0;
      padding: 0;

      color: #000000;

      background-color: #ffffff;
      box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);

      &--like {
        width: 29%;
        min-width: 229px;
        margin: 0 -10px 0 0;

        & p {
          width: 202px;
          margin: 3px auto 0;
          padding: 0;

          opacity: 0.7;
        }

        & svg {
          margin: 26px 0 0 0;
          .cls-1 {
            fill: #000000;
            opacity: 0.3;
          }
        }
      }

      &--handshake {
        font-size: 14px;
        line-height: 20px;


        width: 22%;
        height: 200px;
        padding: 0;

        z-index: 1;

        & p {
          width: 160px;
          margin: 5px auto 0;
          padding: 0;
        }

        & svg {
          width: 89px;
          height: 59px;
          margin: 50px 0 0 0;

          .cls-1 {
            fill: #000000;
            opacity: 1;
          }
        }
      }

      &--settings {
        width: 29%;
        min-width: 229px;
        margin: 0 0 0 -10px;

        & p {
          width: 183px;
          margin: 3px auto 0;
          padding: 0;

          opacity: 0.7;
        }

        & svg {
          margin: 22px auto 0;
          s
          .cls-1 {
            fill: #000000;
            opacity: 0.3;
          }
        }
      }

      &--active {
        min-width: 280px;
        height: 200px;
      }
    }

    &__bullets {
      display: flex;

      width: 40px;
      height: 10px;
      margin: 0 auto;
      padding: 0 0 0 6px;
    }
  }

  .pagination {
    &__bullet {
      width: 8px;
      height: 8px;
      margin: 0 5px 0 0;

      border-radius: 50%;
      background-color: rgb(221, 221, 221);
      outline: none;
      cursor: pointer;

      &:last-child {
        margin: 0;
      }

      &--active {
        background-color: rgb(0, 255, 215);
      }
    }
  }

  // .swiper-container {
  //   // width: 718px;
  //   width: 720px;
  //   height: 254px;
  // }
}

@media (max-width: 767px) {
  .advantages {
    &__list {
      max-width: 100%;
      padding: 170px 20px 0;
    }

    &__item {
      font-size: 14px;
      line-height: 20px;

      padding: 0;

      box-shadow: none;
      border: 1px solid rgb(221, 221, 221);

      &--like {
        display: none;
      }

      &--handshake {
        font-size: 14px;
        line-height: 20px;

        width: 100%;
        padding: 42px 59px 0;

        & p {
          margin: 10px 0 0;
        }

        & svg {
          margin: 0;
        }
      }

      &--settings {
        display: none;
      }
    }

    &__bullets {
      align-items: center;

      padding: 0 0 0 5px;
    }
  }

  .pagination {
    &__bullet {
      width: 6px;
      height: 6px;

      &--active {
        width: 8px;
        height: 8px;
      }
    }
  }

  // .swiper-container {
  //   width: 280px;
  //   height: 220px;
  // }
}
