.page-footer {
  position: relative;

  background-color: #000000;
  color: #ffffff;
}

.page-footer__content {
  max-width: 1270px;
  padding: 38px 40px 28px 40px;
  margin: 0 auto;
}

.page-footer__title {
  display: none;
}

.map {
  & iframe {
    width: 100%;
  }
}

.page-footer__nav {
  display: none;
}


.contacts {
  display: none;
}

.page-footer__contacts {
  &--additional {
    display: block;
    font-size: 16px;
    line-height: 1.75;

    .contacts__address {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: -26px;

        width: 30px;
        height: 20px;

        background-image: url("../img/pin.svg");
        background-repeat: no-repeat;
      }
    }

    .contacts__mail a,
    .contacts__phone a {
      position: relative;
      font-weight: bold;

      color: #ffffff;

      &::before {
        content: "";
        position: absolute;

        width: 30px;
        height: 20px;

        background-repeat: no-repeat;
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }

    .contacts__mail {
      margin: 38px 0 41px 1px;

      & a::before {
        top: 7px;
        left: -29px;

        background-image: url("../img/mail.svg");
      }
    }

    .contacts__phone {
      margin: 0;
      line-height: 1;

      & a::before {
        top: 7px;
        left: -28px;

        background-image: url("../img/phone.svg");
      }
    }

    .contacts__time {
      font-size: 13px;

      margin: 0;
    }
  }
}

.page-footer__top {
  display: flex;

  width: 100%;
  margin: 0 0 72px;
}

.page-footer__bottom {
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.5px;

  opacity: 0.25;
}

.page-footer__general {
  margin: 0 auto 0 0;
  padding: 23px 0 0 10px;

  & p {
    font-size: 16px;
    line-height: 38px;

    margin: 43px 0 45px;
  }
}

.page-footer__modal {
  width: 580px;
  min-height: 580px;
  margin: -227px 127px 0 0;

  z-index: 100;
  background-color: #ffffff;
  color: #000000;
}

.form {
  padding: 24px 73px 0 73px;

  & form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 50px;
    text-transform: uppercase;

    margin: 20px 0 30px;

    text-align: center;
    letter-spacing: 1px;
  }

  & label {
    display: block;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  & input {
    font-size: 18px;
    line-height: 1;

    width: 92%;
    height: 32px;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    cursor: pointer;
  }

  &__first-row {
    display: flex;

    & input {
      width: 85%;
    }

    & p {
      width: 50%;
      margin: 13px 15px 13px 0;

      &:last-child {
        margin: 13px 0 13px 0;
      }
    }
  }

  &__second-row {
    margin: 27px 0 36px;
  }

  &__confidentiality {
    font-size: 12px;
    margin: 16px 0 35px;

    text-align: center;
    opacity: 0.5;

    & a {
      display: block;

      width: 190px;
      margin: 0 auto;
      padding: 3px 0 4px 0;

      color: #000000;

      border-bottom: 1px dotted rgba(0, 0, 0, 0.4);

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__button {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;

    width: 230px;
    min-height: 60px;

    background-color: #000000;
    color: #ffffff;
    border: none;
    align-self: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.social__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: 180px;
}

.social__item {
  margin: 0 31px 0 0;

  &:last-child {
    margin: 0;
  }
}

.social__link {
  display: block;

  & path {
    fill: #666666;
  }

  &--vk {
    width: 35px;
    height: 30px;

    & svg {
      width: 100%;
      height: auto;
    }
  }

  &--tw {
    width: 27px;
    height: 25px;

    & svg {
      width: 100%;
      height: auto;
    }
  }

  &--fb {
    &:hover {
      filter: brightness(0) invert(1);
    }

    &:active {
      opacity: 0.7;
    }
  }

  &:hover {
    path {
      fill: #ffffff;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.page-footer__logo {
  display: block;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: 1023px) {
  .map {
    & iframe {
      height: 349px;
    }
  }

  .form {
    width: 414px;
    min-height: 408px;
    padding: 6px 18px 0 52px;
    margin: -454px 0 46px 7px;

    &__title {
      font-size: 18px;
      line-height: 37px;

      margin: 20px 34px 12px 0;

      letter-spacing: 0.6px;
    }

    & label {
      font-size: 14px;
      line-height: 1.6;
    }

    & input {
      height: 21px;
    }

    &__first-row {
      & p {
        margin: 13px 17px 13px 0;

        &:first-child {
          width: 42%;
        }

        &:last-child {
          width: 54%;
          margin: 13px 0 13px 0;
        }
      }
    }

    &__second-row {
      margin: 13px 0 12px;
    }

    &__confidentiality {
      font-size: 10px;
      line-height: 13px;

      margin: 0 31px 25px 0;

      & a {
        width: 158px;
        margin: 0 auto;
        padding: 1px 0 0 0;
      }
    }

    &__button {
      font-size: 16px;
      line-height: 37px;

      width: 165px;
      min-height: 44px;
      margin: 0 33px 0 0;
    }
  }

  .page-footer__content {
    max-width: 100%;
    padding: 8px 57px 10px;
  }

  .page-footer__logo {
    display: none;
  }

  .page-footer__nav {
    display: block;

    font-size: 12px;
    line-height: 1.2;
    align-self: center;

    margin: 0 0 -84px 0;

    & ul {
      @include list-reset;

      display: flex;

      padding: 0 0 0 42px;
    }

    & li {
      margin: 0 35px 0 0;

      &:last-child {
        margin: 0;
      }
    }

    & a {
      color: rgba(255, 255, 255, 0.502);

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .page-footer__general {
    display: flex;
    margin: 0;
    padding: 44px 10px 0 7px;

    & p {
      font-size: 12px;
      line-height: 38px;
      margin: 0 auto 0 0;

      color: rgba(255, 255, 255, 0.502);
    }
  }

  .page-footer__top {
    flex-direction: column-reverse;

    margin: 0 0 30px;
  }

  .page-footer__bottom {
    position: relative;

    &::before {
      content: "";
      position: absolute;

      top: -18px;
      left: 7px;

      width: 641px;
      height: 2px;

      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  .page-footer__contacts {
    display: none;

    &--additional {
      display: block;

      min-width: 164px;
      margin: 0 0 87px auto;

      .contacts__mail {
        margin: 38px 0 42px 1px;
      }

      .contacts__time {
        font-size: 12px;
      }
    }
  }

  .contacts {
    font-size: 14px;
    line-height: 2;

    &__address {
      &::before {
        top: 5px;
        left: -28px;
      }
    }

    &__mail {
      margin: 38px 0 39px 1px;

      & a::before {
        top: 5px;
        left: -31px;
      }
    }

    &__phone {
      line-height: 1.2;

      & a::before {
        top: 4px;
        left: -29px;

        background-image: url("../img/phone.svg");
      }
    }

    &__time {
      font-size: 12px;
    }
  }

  .social__link {
    &--vk {
      width: 23px;
      height: 24px;
    }

    &--tw {
      width: 18px;
      height: 19px;
    }

    &--fb svg {
      width: 9px;
      height: 16px;
    }
  }

  .social__item {
    margin: 0 17px 0 0;
  }
}

@media (max-width: 767px) {
  .map {
    & iframe {
      height: 198px;
    }
  }

  .page-footer__content {
    padding: 8px 0 0;
  }

  .page-footer__title {
    display: block;

    font-family: "Raleway", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.7px;

    margin: -256px 0 217px 19px;

    color: #000000;
  }

  .form {
    width: 100%;
    min-height: 457px;
    padding: 19px 20px 0 20px;
    margin: -3px 0 0 0;

    & label {
      letter-spacing: 0;
    }

    & input {
      width: 100%;
    }

    &__title {
      margin: 20px 0 5px 0;
    }

    &__first-row {
      & p {
        margin: 13px 40px 13px 0;

        &:first-child {
          width: 50%;
        }

        &:last-child {
          width: 50%;
          margin: 13px 0 13px 0;
        }

        & input {
          width: 97%;
        }
      }
    }

    &__second-row {
      margin: 10px 0 15px;
    }

    &__confidentiality {
      margin: 9px 0 28px;
    }

    &__button {
      margin: 0;
    }
  }

  .contacts {
    display: block;
    margin: 0;
    padding: 1px 0 29px 49px;

    line-height: 2;
    color: rgba(255, 255, 255, 0.502);
    background-color: #1a1a1a;

    &__address {
      position: relative;
      margin: 17px 0 0 0;

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: -28px;

        width: 30px;
        height: 20px;

        background-image: url("../img/pin.svg");
        background-repeat: no-repeat;
      }
    }

    &__mail a,
    &__phone a {
      position: relative;
      font-weight: bold;

      color: #ffffff;

      &::before {
        content: "";
        position: absolute;

        width: 30px;
        height: 20px;

        background-repeat: no-repeat;
      }
    }

    &__mail {
      margin: 13px 0 23px 1px;

      & a {
        color: rgba(255, 255, 255, 0.502);
      }

      & a::before {
        top: 4px;
        left: -30px;

        background-image: url("../img/mail.svg");
      }
    }

    &__phone {
      margin: 0;

      & a {
        color: rgba(255, 255, 255, 0.502);
      }

      & a::before {
        top: 2px;
        left: -29px;

        background-image: url("../img/phone.svg");
      }
    }

    &__time {
      margin: 0;
    }
  }

  .page-footer__contacts {
    &--additional {
      display: block;

      padding: 0 0 0 35px;
      margin: 0 auto 25px auto;

      color: #ffffff;
      line-height: 1.4;
      background-color: #000000;

      .contacts__mail {
        margin: 11px 0 16px 1px;

        & a::before {
          top: 5px;
          left: -31px;
        }
      }

      .contacts__address {
        &::before {
          top: 0;
          left: -29px;
        }
      }

      .contacts__phone {
        line-height: 1.3;

        & a::before {
          top: 4px;
          left: -29px;
        }
      }

      a {
        color: #ffffff;
      }
    }
  }

  .page-footer__nav {
    font-size: 14px;
    line-height: 25px;
    align-self: flex-start;

    width: 100%;
    margin: 0 0 -3px 0;
    background-color: #1a1a1a;

    & ul {
      display: flex;
      flex-direction: column;

      padding: 0;
      margin: 0;
    }

    & li {
      width: 100%;
      min-height: 50px;
      margin: 0;
      padding: 11px 0 0 19px;

      border-bottom: 1px solid rgb(98, 98, 98);
    }

    & a {
      color: rgba(255, 255, 255, 0.502);
    }
  }

  .page-footer__general {
    padding: 0;

    & p {
      display: none;
    }
  }

  .social {
    width: 100%;
    padding: 0 0 40px 19px;

    background-color: #1a1a1a;
  }

  .social__link {
    &--vk {
      width: 40px;
      height: 40px;
    }

    &--tw {
      width: 30px;
      height: 32px;
    }

    &--fb svg {
      width: 16px;
      height: 29px;
    }
  }

  .social__list {
    margin: 0;
  }

  .social__item {
    margin: 0 33px 0 0;
  }

  .page-footer__top {
    margin: 0;
  }

  .page-footer__bottom {
    line-height: 15px;

    padding: 13px 63px 12px 61px;

    opacity: 0.33;

    & p {
      margin: 0;
    }

    &::before {
      display: none;
    }
  }
}
